nvim/.netcoredbg_hist
nvim/plugin/packer_compiled.lua
configstore/
sanity/
github-copilot/
lazygit/state.yml
.android/avd/
containers/podman/machine/wsl/podman-machine-default.json
containers/podman/machine/wsl/podman-machine-default.lock
